{% extends "extends/base_page.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
    {% import 'macros/render_form.html' as macros %}
    <form action="" id="myform" method="post" class="form form-horizontal" role="form" novalidate="novalidate">
        {{ form.csrf_token }}
        {{ macros.render_field(form.identity) }}
        {{ macros.render_field(form.username) }}
        {{ macros.render_field(form.telphone) }}
        {{ macros.render_field(form.email) }}
        {% if "new" in request.url_rule.rule %}
            {{ macros.render_field(form.password) }}
            {{ macros.render_field(form.password2) }}
        {% endif %}
        {{ macros.render_field(form.role_id) }}
        {{ macros.render_button([(form.submit), (form.return_link)]) }}
    </form>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $('#username').attr('maxlength', 30);
        $('#telphone').addClass('phone');
        $('#email').addClass('email');
        $('#password').attr('minlength', 6);
        $('#password').attr('maxlength', 16);
        $("form").validate({ignore: []});
    </script>
{% endblock %}
