{% extends "extends/base_table.html" %}
{% block table_content %}
    {% import 'macros/render_btn.html' as macros %}
    <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
            <tr>
                <th width="20%">序号</th>
                <th width="50%">名称</th>
                <th width="30%">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in objects %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ obj.name }}</td>
                    <td>
                        {{ macros.render_edit_btn('info_type.edit', obj.id) }}
                        {{ macros.render_del_btn('info_type.delete', obj.id) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
        {{ macros.render_add_btn('info_type.new') }}
{% endblock %}
