<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">DevOps</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if request.path == '/' %} class="active" {% endif %}>
                    <a href="/">首页</a>
                </li>
                <li {% if '/info/' in request.url_rule.rule %} class="active" {% endif %}>
                    <a href="/backend/info/index">信息</a>
                </li>
                <li {% if '/info_type/' in request.url_rule.rule %} class="active" {% endif %}>
                    <a href="/backend/info_type/index">信息类</a>
                </li>
                <li {% if '/role/' in request.url_rule.rule %} class="active" {% endif %}>
                    <a href="/backend/role/index">角色</a>
                </li>
                <li {% if '/user/' in request.url_rule.rule %} class="active" {% endif %}>
                    <a href="/backend/user/index">用户</a>
                </li>


                {#                <li class="dropdown">#}
                {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2" role="button"#}
                {#                       aria-haspopup="true"#}
                {#                       aria-expanded="false">系统管理<span class="caret"></span></a>#}
                {#                    <ul class="dropdown-menu">#}
                {#                        <li><a href="/script_manage/index">应用管理</a></li>#}
                {#                        <li><a href="/script_manage/index">脚本管理</a></li>#}
                {#                        <li><a href="/component/index">组件管理</a></li>#}
                {#                        <li><a href="/software/optimize">变量管理</a></li>#}
                {#                        <li><a href="/software/optimize">文件管理</a></li>#}
                {#                        <li role="separator" class="divider"></li>#}
                {#                        <li><a href="/script_manage/new">脚本添加</a></li>#}
                {#                        <li><a href="/component/new">组件添加</a></li>#}
                {#                        <li role="separator" class="divider"></li>#}
                {#                        <li><a href="/software/optimize">Zabbix管理</a></li>#}
                {##}
                {#                    </ul>#}
                {#                </li>#}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户设置</a>
                        </li>
                        {#                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>#}
                        </li>
                        <li class="divider"></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a>
                                {% else %}
                            <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-in fa-fw"></i> Sign Out</a>
                        {% endif %}
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

            </ul>
        </div>
    </div>
</div>